<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="200">
      <v-card>
        <v-card-title class="headline">
          {{ dialogText }}
        </v-card-title>
        <v-card-text v-if="dialogText == 'Win'">
          All Click : {{ countClick }}
        </v-card-text>
        <v-card-text v-if="dialogText == 'Win'">
          Miss Click : {{ missClick }}
        </v-card-text>
        <v-btn
          v-if="dialogText != 'Win'"
          color="green darken-1"
          text
          @click="closeDialog()"
        >
          close
        </v-btn>
        <v-btn
          v-if="dialogText == 'Win'"
          color="green darken-1"
          text
          @click="restartGame()"
        >
          restart
        </v-btn>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: 'Dialog',
  props: {},
  computed: {
    dialog() {
      return this.$store.state.dialog;
    },
    dialogText() {
      return this.$store.state.dialogText;
    },
    countClick() {
      return this.$store.state.countClick;
    },
    missClick() {
      return this.$store.state.countMiss;
    },
  },
  methods: {
    checkWin() {
      if (this.$store.state.allSink.length == 4) {
        // debugger; // eslint-disable-line
        this.$store.commit('setDialog', true);
        this.$store.commit('setDialogText', 'Win');
      }
    },
    closeDialog() {
      this.$store.commit('setDialog', false);
      this.checkWin();
    },
    restartGame() {
      location.reload();
    },
  },
};
</script>
