<template>
  <tr class="pfresh">
    <td v-for="(col, index) in [0, 1, 2, 3, 4]" :key="index">
      <Square
        v-if="playerType == 'Attacker'"
        :row="row"
        :col="col"
        :playerType="'Attacker'"
      />
      <Square
        v-if="playerType == 'Defender'"
        :row="row"
        :col="col"
        :playerType="'Defender'"
      />
    </td>
  </tr>
</template>

<script>
import Square from './Square';

export default {
  name: 'Table',
  props: {
    playerType: String,
    row: Number,
  },
  components: { Square },
};
</script>
