<template>
  <v-container>
    <WrongDialog />
    <Dialog />
    <h1>Attacker</h1>
    <Table :playerType="'Attacker'" :hors="hors" :vers="vers" />
    <br />
    <h1>Defender</h1>
    <Table :playerType="'Defender'" :hors="hors" :vers="vers" />
  </v-container>
</template>

<script>
import Table from './Table';
import Dialog from './Dialog';
import WrongDialog from './WrongDialog';

export default {
  name: 'HelloWorld',
  components: {
    Table,
    Dialog,
    WrongDialog,
  },
  beforeMount() {
    this.horRow = this.randomIntArbitrary(0, 4);
    this.verCol = this.randomIntArbitrary(0, 4);
    //[[verStart, verCol], [verEnd, verCol]]
    this.horStart = this.randomIntArbitrary(0, 3);
    this.horEnd = this.horStart + 1;
    this.hors = [
      [this.horRow, this.horStart],
      [this.horRow, this.horEnd],
    ];
    // console.log('hor: ', this.hors);

    do {
      // console.log('do');

      this.verStart = this.genVerStart();
      this.verEnd = this.verStart + 1;

      let testCoor = JSON.stringify([this.verEnd, this.verCol]);
      if (this.checkDuplicateCoor(testCoor, this.hors)) {
        this.hasDuplicateCoor = true;
      } else {
        this.hasDuplicateCoor = false;
      }
    } while (this.hasDuplicateCoor);

    //[[verStart, verCol], [verEnd, verCol]]
    this.vers = [
      [this.verStart, this.verCol],
      [this.verEnd, this.verCol],
    ];
    this.$store.commit('setVers', this.vers);
    this.$store.commit('setHors', this.hors);
  },

  data: () => ({
    horRow: 0,
    verCol: 0,
    horStart: 0,
    horEnd: 0,
    verStart: 0,
    verEnd: 0,
    hors: [[], []], //[[horRow, horStart], [horRow, horEnd]]
    vers: [[], []], //[[verStart, verCol], [verEnd, verCol]]
    hasDuplicateCoor: false,
  }),
  methods: {
    randomIntArbitrary(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    genVerStart() {
      let verStart = this.randomIntArbitrary(0, 3);
      let testCoor = JSON.stringify([verStart, this.verCol]);

      while (this.checkDuplicateCoor(testCoor, this.hors)) {
        console.log('while');
        verStart = this.randomIntArbitrary(0, 3);
        testCoor = JSON.stringify([verStart, this.verCol]);
      }

      return verStart;
    },
    checkDuplicateCoor(testCoor, checkCoor) {
      const duplicateCoor = checkCoor.filter(
        coor => JSON.stringify(coor) == testCoor,
      );

      if (duplicateCoor.length == 0) {
        return false;
      }
      return true;
    },
  },
};
</script>
