<template>
  <v-btn large x-large :color="color" @click="squareClick()">
    <div v-if="showText == ''">&nbsp;&nbsp;&nbsp;</div>
    <div>{{showText}}</div>
  </v-btn>
</template>

<script>
export default {
  name: 'Square',
  props: {
    row: Number,
    col: Number,
    playerType: String,
  },
  data: () => ({
    showText: '',
    clicked: false,
    color: '',
    hors: [],
    vers: [],
  }),
  methods: {
    squareClick() {
      if (this.showText != '') {
        this.$store.commit('setWrongDialog', true);
        return;
      }
      if (this.playerType == 'Defender') {
        return;
      } else {
        this.attackerClick();
      }
    },
    attackerClick() {
      const clikedCoor = [this.row, this.col];
      if (this.isBoat([...this.vers, ...this.hors])) {
        this.showText = 'Hit!';
        this.$store.commit('setAllSink', clikedCoor);
        this.sinkEachShip(clikedCoor);
      } else {
        this.showText = 'Miss';
        this.$store.commit('setCountMiss');
      }
      this.$store.commit('setCountClick');
    },
    sinkEachShip(clikedCoor) {
      if (this.isVers()) {
        this.$store.commit('setSinkVers', clikedCoor);
      } else if (this.isHors()) {
        this.$store.commit('setSinkHors', clikedCoor);
      }
      this.setMarkX();
    },
    setMarkX() {
      if (
        this.$store.state.sinkVers.length == 2 &&
        !this.$store.state.sinkVersShow
      ) {
        // debugger; // eslint-disable-line
        this.$store.commit('setDialog', true);
        this.$store.commit('setDialogText', 'Mark X');
        this.$store.commit('setSinkVersShow', true);
      } else if (
        this.$store.state.sinkHors.length == 2 &&
        !this.$store.state.sinkHorsShow
      ) {
        // debugger; // eslint-disable-line
        this.$store.commit('setDialog', true);
        this.$store.commit('setDialogText', 'Mark X');
        this.$store.commit('setSinkHorsShow', true);
      }
    },
    isHors() {
      return this.isBoat([...this.hors]);
    },
    isVers() {
      return this.isBoat([...this.vers]);
    },
    isBoat(shipCoors) {
      const squareCoor = [this.row, this.col];
      const boats = shipCoors.filter(
        boatCoor => JSON.stringify(boatCoor) == JSON.stringify(squareCoor),
      );

      if (boats.length != 0) {
        return true;
      }
      return false;
    },
    isDefenderBoat() {
      if (this.playerType == 'Defender') {
        return this.isBoat([...this.vers, ...this.hors]);
      }
    },
  },
  watch: {},
  computed: {},
  mounted() {
    this.hors = this.$store.state.hors;
    this.vers = this.$store.state.vers;
    if (this.isDefenderBoat()) {
      this.color = '#f00';
    }
  },
};
</script>
