<template>
  <div>
    <EachRow
      v-for="(row, index) in [0, 1, 2, 3, 4]"
      :key="index"
      :row="row"
      :playerType="playerType"
    ></EachRow>
  </div>
</template>

<script>
import EachRow from './EachRow';
export default {
  name: 'Table',
  props: {
    playerType: String,
  },
  components: {
    EachRow,
  },
  data: () => ({}),
  methods: {},
};
</script>
