<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="200">
      <v-card>
        <v-card-title class="headline">
          'Wrong!!!'
        </v-card-title>
        <v-btn color="green darken-1" text @click="closeDialog()">
          close
        </v-btn>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: 'WrongDialog',
  computed: {
    dialog() {
      return this.$store.state.wrongDialog;
    },
  },
  methods: {
    closeDialog() {
      this.$store.commit('setWrongDialog', false);
    },
  },
};
</script>
